.App {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.resume {
  display: flex;
  margin: auto;
  max-width: 60rem;
  // margin: -1rem;
  background-color: rgba($color: #bfbdaa, $alpha: 0.25);
  border-radius: 15px;
}

.employer {
  color: green;
  font-size: smaller;
}

.experience {
  .subline {
    color: gray;
  }
  ul {
    list-style: none; // Remove default bullet points
    padding: 0;
    margin: 0;

    li {
      position: relative;
      padding-left: 1.5rem; // Space before custom bullet
      margin-bottom: 0.75rem; // Spacing between bullets

      &:before {
        content: "\2022"; // Unicode bullet symbol
        position: absolute;
        left: 0;
        font-size: 1.2rem;
        color: green; // Change this color to match your theme
      }
    }
  }
}

.period {
  color: black;
}

a {
  text-decoration: none;
  color: gray;
  &:hover {
    text-decoration: underline;
  }
}

.languages {
  span {
    padding: 0.5rem 0rem;
  }
}

.contact {
  div {
    color: green;
  }
  a {
    padding: 0.5rem 0rem;
    color: green;
  }
}

p {
  text-align: justify;
}

.tag {
  color: green;
  font-size: smaller;
}

.skills {
  div {
    font-style: italic;
  }
}

.interests {
  div {
    font-style: italic;
  }
}

.languages {
  div {
    font-style: italic;
  }
}

.inspirers {
  div {
    font-style: italic;
  }
}

aside {
  padding: 2rem;
}

.main {
  padding: 0rem 4rem 3rem 4rem;
}

.profiles {
  margin-top: 2rem;
}

.degree {
  color: green;
}
